body {
    background-color: rgb(2, 2, 11);
    justify-content: center;
    align-items: center;
    height: 96vh;
}

#watch {
    color: white;
    font-size: 90px;
}

button {
    color: white;
    border-radius: 90px;
    font-size: 40px;
}

button:hover {
    cursor: pointer;
}

#startStopResume {
    background-color: rgb(69, 69, 179);
}

#lapReset {
    background-color: gray;
}
#laps{
    color:white;
}